Repository frequenz-floss/frequenz-repo-config-python, pull requests merged in 2023-10, with the labels that each got.

#151 [ci] [cross-arch] Allow creating venvs with python 3.11
  .github/containers/nox-cross-arch/arm64-ubuntu-20.04-python-3.11.Dockerfile
Labels: part:tooling, type:bug, part:ci

#155 Don't run cookiecutter tests in arm64
  .github/workflows/ci.yaml
  pyproject.toml
  tests/integration/test_cookiecutter_generation.py
Labels: part:tests, type:tech-debt

#154 Don't test the push event for dependabot branches
  .github/workflows/ci.yaml
  RELEASE_NOTES.md
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/.github/workflows/ci.yaml
Labels: part:tests, type:bug

#146 Move `src/confest.py` to `src/frequenz/repo/conftest.py`
  MANIFEST.in
  RELEASE_NOTES.md
  cookiecutter/{{cookiecutter.github_repo_name}}/src/frequenz/{{cookiecutter.type}}/{{cookiecutter.name | as_identifier}}/conftest.py
  src/frequenz/repo/conftest.py
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/src/frequenz/actor/test/conftest.py
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/py/frequenz/api/test/conftest.py
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/src/frequenz/app/test/conftest.py
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/src/frequenz/test/conftest.py
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/src/frequenz/model/test/conftest.py
Labels: part:tests, type:enhancement

#150 Improve `mike` versions
  .github/workflows/ci.yaml
  RELEASE_NOTES.md
  cookiecutter/hooks/post_gen_project.py
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/workflows/ci.yaml
  cookiecutter/{{cookiecutter.github_repo_name}}/docs/_scripts/mkdocstrings_autoapi.py
  docs/_scripts/mkdocstrings_autoapi.py
  docs/index.md
  pyproject.toml
  src/frequenz/repo/config/__init__.py
  src/frequenz/repo/config/cli/__init__.py
  src/frequenz/repo/config/cli/version/__init__.py
  src/frequenz/repo/config/cli/version/mike/__init__.py
  src/frequenz/repo/config/cli/version/mike/info.py
  src/frequenz/repo/config/cli/version/mike/sort.py
  src/frequenz/repo/config/mkdocs/__init__.py
  src/frequenz/repo/config/mkdocs/api_pages.py
  src/frequenz/repo/config/mkdocs/mike.py
  src/frequenz/repo/config/version.py
  tests/mkdocs/test_mike.py
  tests/test_version.py
  tests_golden/integration/test_cookiecutter_generation/actor/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/docs/_scripts/mkdocstrings_autoapi.py
  tests_golden/integration/test_cookiecutter_generation/api/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/docs/_scripts/mkdocstrings_autoapi.py
  tests_golden/integration/test_cookiecutter_generation/app/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/docs/_scripts/mkdocstrings_autoapi.py
  tests_golden/integration/test_cookiecutter_generation/lib/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/docs/_scripts/mkdocstrings_autoapi.py
  tests_golden/integration/test_cookiecutter_generation/model/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/docs/_scripts/mkdocstrings_autoapi.py
Labels: part:tests, type:enhancement, part:cli

#164 Add link to documentation on PyPI
  RELEASE_NOTES.md
  cookiecutter/{{cookiecutter.github_repo_name}}/pyproject.toml
  pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/pyproject.toml
Labels: type:enhancement
