Repository frequenz-floss/frequenz-repo-config-python, pull requests merged in 2023-06, with the labels that each got.

#44 Add dependabot config to the cookiecutter template
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/dependabot.yml
  cookiecutter/{{cookiecutter.github_repo_name}}/.gitmodules
Labels: part:tooling, type:enhancement, part:cookiecutter

#51 Add issue templates, keyword labeler and PR labeler to cookiecutter
  cookiecutter/hooks/post_gen_project.py
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/ISSUE_TEMPLATE/bug.yml
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/ISSUE_TEMPLATE/config.yml
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/ISSUE_TEMPLATE/feature.yml
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/keylabeler.yml
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/labeler.yml
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/workflows/labeler.yml
Labels: type:enhancement, part:cookiecutter

#45 Fix python3.11 in printed nox example
  cookiecutter/hooks/post_gen_project.py
Labels: part:docs, type:enhancement

#47 Add files related to direnv to gitignore
  cookiecutter/{{cookiecutter.github_repo_name}}/.gitignore
Labels: type:enhancement, part:cookiecutter

#55 Add `--diff` as a default argument for `isort`
  src/frequenz/repo/config/nox/default.py
Labels: type:enhancement, part:nox

#60 Fix escaping issues in workflows templates
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/ISSUE_TEMPLATE/config.yml
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/workflows/labeler.yml
Labels: type:bug, part:cookiecutter, part:ci

#57 Add GitHub CI workflow
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/workflows/ci.yaml
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/workflows/dco-merge-queue.yml
Labels: part:tooling, type:enhancement, part:cookiecutter, part:ci

#63 Fix and speed up the CI workflow
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/workflows/ci.yaml
Labels: type:bug, type:enhancement, part:cookiecutter, part:ci

#65 Add RELEASE_NOTES to cookiecutter
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/RELEASE_NOTES.template.md
  cookiecutter/{{cookiecutter.github_repo_name}}/RELEASE_NOTES.md
Labels: part:docs, type:enhancement, part:cookiecutter, part:ci

#67 Copy follow-up instructions to README
  README.md
Labels: part:docs, type:enhancement

#68 Don't import modules into packages and fix tests
  cookiecutter/hooks/post_gen_project.py
  cookiecutter/local_extensions.py
  cookiecutter/{{cookiecutter.github_repo_name}}/noxfile.py
  noxfile.py
  src/frequenz/repo/config/__init__.py
  src/frequenz/repo/config/nox/__init__.py
  src/frequenz/repo/config/nox/config.py
  src/frequenz/repo/config/setuptools/__init__.py
  tests/integration/test_cookiecutter_generation.py
Labels: part:docs, part:tests, priority:high, type:bug, type:enhancement, part:nox, part:cookiecutter

#69 Support migrating and updating existing projects
  README.md
  cookiecutter/hooks/post_gen_project.py
Labels: part:docs, priority:high, type:enhancement, part:cookiecutter

#70 Fix issues in CI and updating projects
  .github/workflows/ci.yaml
  README.md
  cookiecutter/hooks/post_gen_project.py
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/workflows/ci.yaml
Labels: part:docs, part:tooling, part:cookiecutter, part:ci
