Repository frequenz-floss/frequenz-repo-config-python, pull requests merged in 2024-02, with the labels that each got.

#223 Add missing instruction to update dependencies
  RELEASE_NOTES.md
  cookiecutter/{{cookiecutter.github_repo_name}}/CONTRIBUTING.md
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/CONTRIBUTING.md
Labels: part:docs, type:enhancement, part:template

#222 ci: Support using git for dependencies in `test-installation`
  .github/containers/test-installation/Dockerfile
  RELEASE_NOTES.md
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/containers/test-installation/Dockerfile
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/.github/containers/test-installation/Dockerfile
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/.github/containers/test-installation/Dockerfile
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/.github/containers/test-installation/Dockerfile
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/.github/containers/test-installation/Dockerfile
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/.github/containers/test-installation/Dockerfile
Labels: type:bug, part:ci, part:template

#221 Update pytest and sybil
  RELEASE_NOTES.md
  cookiecutter/{{cookiecutter.github_repo_name}}/pyproject.toml
  pyproject.toml
  src/frequenz/repo/config/__init__.py
  src/frequenz/repo/config/pytest/examples.py
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/pyproject.toml
Labels: part:tests, part:tooling, part:pytest, part:template

#225 Fetch submodules when doing cross-arch tests
  RELEASE_NOTES.md
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/.github/workflows/ci.yaml
Labels: type:bug, part:ci, part:template

#227 Prepare release notes for v0.9.0
  RELEASE_NOTES.md
Labels: type:enhancement, part:doc

#228 Clear release notes
  RELEASE_NOTES.md
Labels: type:tech-debt, part:doc

#231 Initialize repos to version 0.9.1
  RELEASE_NOTES.md
  cookiecutter/{{cookiecutter.github_repo_name}}/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/pyproject.toml
Labels: type:bug, part:template

#232 Clean up release notes for 0.9.1
  RELEASE_NOTES.md
Labels: part:doc

#233 Clear release notes
  RELEASE_NOTES.md
Labels: part:doc
