Repository frequenz-floss/frequenz-repo-config-python, pull requests merged in 2024-10, with the labels that each got.

#311 Change edit_uri default branch to v0.x.x in mkdocs.yml
  RELEASE_NOTES.md
  cookiecutter/{{cookiecutter.github_repo_name}}/mkdocs.yml
  tests_golden/integration/test_cookiecutter_generation/actor/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/mkdocs.yml
  tests_golden/integration/test_cookiecutter_generation/api/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/mkdocs.yml
  tests_golden/integration/test_cookiecutter_generation/app/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/mkdocs.yml
  tests_golden/integration/test_cookiecutter_generation/lib/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/mkdocs.yml
  tests_golden/integration/test_cookiecutter_generation/model/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/mkdocs.yml
Labels: part:template

#317 Bump SDK dependency to 1.0.0rc901
  RELEASE_NOTES.md
  cookiecutter/{{cookiecutter.github_repo_name}}/mkdocs.yml
  cookiecutter/{{cookiecutter.github_repo_name}}/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/mkdocs.yml
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/mkdocs.yml
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/mkdocs.yml
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/pyproject.toml
Labels: part:tooling, type:enhancement, part:template

#318 Add `asyncio_default_fixture_loop_scope = "function"` option
  RELEASE_NOTES.md
  cookiecutter/{{cookiecutter.github_repo_name}}/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/pyproject.toml
Labels: part:tooling, type:tech-debt, part:template

#320 Add GitHub branch ruleset for Rust
  RELEASE_NOTES.md
  docs/user-guide/start-a-new-project/configure-github.md
  github-rulesets/Queue PRs for the default branch.json
  github-rulesets/python/Protect version branches.json
  github-rulesets/rust/Protect version branches.json
Labels: part:docs

#321 Sybil: Parse __init__
  RELEASE_NOTES.md
  src/frequenz/repo/config/pytest/examples.py
Labels: part:docs, part:pytest
