Repository frequenz-floss/frequenz-repo-config-python, pull requests merged in 2024-07, with the labels that each got.

#281 mkdocs: Use symlink alias types
  RELEASE_NOTES.md
  cookiecutter/migrate.sh
  cookiecutter/{{cookiecutter.github_repo_name}}/mkdocs.yml
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/mkdocs.yml
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/mkdocs.yml
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/mkdocs.yml
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/mkdocs.yml
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/mkdocs.yml
Labels: type:enhancement, part:template

#286 Fix credentials not passed or configured the CI workflow
  .github/containers/test-installation/Dockerfile
  .github/workflows/ci.yaml
  RELEASE_NOTES.md
  cookiecutter/migrate.sh
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/containers/test-installation/Dockerfile
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/actor/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/.github/containers/test-installation/Dockerfile
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/api/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/.github/containers/test-installation/Dockerfile
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/app/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/.github/containers/test-installation/Dockerfile
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/lib/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/.github/containers/test-installation/Dockerfile
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/model/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/.github/containers/test-installation/Dockerfile
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/.github/workflows/ci.yaml
Labels: type:bug, part:ci, part:template

#288 Disable the new `check-class-attributes` check in pydoclint 0.5.3
  RELEASE_NOTES.md
  cookiecutter/migrate.sh
  cookiecutter/{{cookiecutter.github_repo_name}}/pyproject.toml
  pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/pyproject.toml
Labels: part:tooling, type:bug, part:template

#290 Prepare for the v0.10.0 release
  RELEASE_NOTES.md
  cookiecutter/{{cookiecutter.github_repo_name}}/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/pyproject.toml
Labels: part:docs, type:enhancement, part:template

#289 Add pull-requests read permission to the release-notes-check workflow
  .github/workflows/release-notes-check.yml
  RELEASE_NOTES.md
  cookiecutter/migrate.sh
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/workflows/release-notes-check.yml
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/.github/workflows/release-notes-check.yml
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/.github/workflows/release-notes-check.yml
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/.github/workflows/release-notes-check.yml
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/.github/workflows/release-notes-check.yml
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/.github/workflows/release-notes-check.yml
Labels: type:bug, part:ci, part:template

#291 Fix TODO typos for workflows/release-notes-checks
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/workflows/release-notes-check.yml
  tests_golden/integration/test_cookiecutter_generation/actor/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/.github/workflows/release-notes-check.yml
  tests_golden/integration/test_cookiecutter_generation/api/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/.github/workflows/release-notes-check.yml
  tests_golden/integration/test_cookiecutter_generation/app/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/.github/workflows/release-notes-check.yml
  tests_golden/integration/test_cookiecutter_generation/lib/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/.github/workflows/release-notes-check.yml
  tests_golden/integration/test_cookiecutter_generation/model/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/.github/workflows/release-notes-check.yml
Labels: cmd:skip-release-notes, part:template

#292 Reset release notes and migration script for the next release
  RELEASE_NOTES.md
  cookiecutter/migrate.sh
Labels: part:docs, part:cookiecutter

#293 Group dependabot updates for GitHub Actions
  .github/dependabot.yml
  RELEASE_NOTES.md
  cookiecutter/migrate.sh
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/dependabot.yml
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/.github/dependabot.yml
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/.github/dependabot.yml
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/.github/dependabot.yml
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/.github/dependabot.yml
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/.github/dependabot.yml
Labels: part:tooling, type:enhancement, part:ci, part:template
