Repository frequenz-floss/frequenz-repo-config-python, pull requests merged in 2024-05, with the labels that each got.

#260 Don't recursively scan for pyproject.toml when calculating the cache key
  .github/workflows/ci.yaml
  RELEASE_NOTES.md
  cookiecutter/migrate.sh
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/.github/workflows/ci.yaml
Labels: type:bug, part:template

#262 Pin sybil to < 6.1
  pyproject.toml
Labels: part:tooling

#264 Downgrade sybil to 6.0.3
  pyproject.toml
Labels: part:tooling, type:bug

#261 Fail the nox-cross-arch-all job if any matrix job fails
  .github/workflows/ci.yaml
  RELEASE_NOTES.md
  cookiecutter/migrate.sh
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/.github/workflows/ci.yaml
Labels: type:bug, part:ci, part:template

#265 Fix the condition to run the `nox-cross-arch-all` job
  .github/labeler.yml
  .github/workflows/ci.yaml
  cookiecutter/migrate.sh
  cookiecutter/{{cookiecutter.github_repo_name}}/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/.github/workflows/ci.yaml
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/.github/workflows/ci.yaml
Labels: type:bug, part:ci, cmd:skip-release-notes, part:template

#268 Fix the migration script
  cookiecutter/migrate.sh
Labels: type:bug, part:cookiecutter, cmd:skip-release-notes, part:template

#256 Fix code example extractor relying on bug in sybil
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/repo/config/pytest/examples.py
Labels: part:docs, part:tooling, part:pytest
