Repository frequenz-floss/frequenz-repo-config-python, pull requests merged in 2025-02, with the labels that each got.

#347 Fix `mypy` error with setuptools 7.6.8 type hints
  src/frequenz/repo/config/setuptools/grpc_tools.py
Labels: type:tech-debt, part:protobuf, type:regression, cmd:skip-release-notes

#349 Move mkdocstrings-macros integration to a library
  RELEASE_NOTES.md
  cookiecutter/migrate.py
  cookiecutter/{{cookiecutter.github_repo_name}}/docs/_scripts/macros.py
  cookiecutter/{{cookiecutter.github_repo_name}}/mkdocs.yml
  cookiecutter/{{cookiecutter.github_repo_name}}/pyproject.toml
  docs/_scripts/macros.py
  mkdocs.yml
  src/frequenz/repo/config/mkdocs/annotations.py
  src/frequenz/repo/config/mkdocs/mkdocstrings_macros.py
  src/frequenz/repo/config/version.py
  tests_golden/integration/test_cookiecutter_generation/actor/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/docs/_scripts/macros.py
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/mkdocs.yml
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/api/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/docs/_scripts/macros.py
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/mkdocs.yml
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/app/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/docs/_scripts/macros.py
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/mkdocs.yml
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/lib/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/docs/_scripts/macros.py
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/mkdocs.yml
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/model/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/docs/_scripts/macros.py
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/mkdocs.yml
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/pyproject.toml
Labels: type:enhancement, type:tech-debt, part:mkdocs, part:template

#352 Fix the `mkdocstrings-macros` pluglet
  .github/cookiecutter-migrate.template.py
  .github/workflows/ci.yaml
  RELEASE_NOTES.md
  cookiecutter/migrate.py
  cookiecutter/{{cookiecutter.github_repo_name}}/pyproject.toml
  pyproject.toml
  src/frequenz/repo/config/mkdocs/mkdocstrings_macros.py
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/pyproject.toml
Labels: type:bug, part:template

#355 Update the dependency to the latest patch version
  RELEASE_NOTES.md
  cookiecutter/{{cookiecutter.github_repo_name}}/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/pyproject.toml
Labels: type:bug, part:template

#356 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#360 Update link in cookiecutter end instructions
  RELEASE_NOTES.md
  cookiecutter/hooks/post_gen_project.py
  cookiecutter/{{cookiecutter.github_repo_name}}/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/actor/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/actor/frequenz-actor-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/api/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/api/frequenz-api-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/app/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/app/frequenz-app-test/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/lib/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/lib/frequenz-test-python/pyproject.toml
  tests_golden/integration/test_cookiecutter_generation/model/cookiecutter-stdout.txt
  tests_golden/integration/test_cookiecutter_generation/model/frequenz-model-test/pyproject.toml
Labels: part:tests, part:cookiecutter, part:template

#358 Add notes to the upgrading section and a comment that the script finished
  .github/cookiecutter-migrate.template.py
  cookiecutter/migrate.py
  docs/user-guide/update-an-existing-project.md
Labels: part:docs, part:cookiecutter, cmd:skip-release-notes

#362 Clear release notes and migration script
  RELEASE_NOTES.md
Labels: part:docs
